

h1 {
	font-size: 48px;
	color: #30CBC2;
	font-weight: 700;
	font-family: "Inter", sans-serif;
	display: inline-block;
}

ul {
  list-style-type: none;
  margin-left: -37px;
}
main {
	margin-bottom: 34px;
}

.linki {
	font-size: 24px;
	font-weight: 700;
	color: #8D81FF;
	margin-bottom: 14px;
	margin-left: 20px;
  display: inline-block;
  text-decoration: none;
}

#active {
	color: #4E6FAE;
}

#facebook {
	width: 50px;
	height: 50px;
}

#youtube {
	margin-top: 900px;
	width: 71px;
	height: 50px;
}

#line {
	width: 2px;
	height: 50px;
	background: black;
	display: inline-block;
	margin: 0 41px;
}

#line1 {
	width: 2px;
	height: 24px;
	background: #5012D5;
	display: inline-block;
	margin: 0 20px;
}

.date {
	font-size: 24px;
	font-weight: 400;
	color: #84FF81;
	background-color: #5012D5;
	display: inline-block;
    padding: 5px;
}

.center {
	color: #4E6FAE;
	margin-left: 50px;
}

.other {
	font-family: sans-serif;
	color: #black;
	margin-left: 50px;
}

.gray {
	color: #7E8898;
}
.heading{
	font-size: 26px;
	font-weight: 700;
	color: #4E6FAE;
	margin-bottom: 14px;
	margin-left: 20px;
  display: inline-block;
  text-decoration: none;
}

.something {
	font-size: 24px;
	font-weight: 400;
	color: #4E6FAE;
	margin-bottom: 14px;
  display: inline-block;
  text-decoration: none;
}
#no{
	background-color: #E7E7E7;
	width: 500px;
	height: 192px;
	display: inline-block;
}

#yes{
	margin-left: 25px;
	background-color: #E7E7E7;
	width: 500px;
	height: 192px;
	display: inline-block;
}

.aura{
	margin-top: 20px;
	margin-left: 20px;
	width: 307px;
	height: 24px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.14px;
	text-align: left;
	color: #3F4145;
}

#second{
	display: grid;
 	align-items: center; 
 	grid-template-columns: 1fr 1fr 1fr;
 	column-gap: 5px;
}

.aura2{
	margin-left: 120px;
	font-family: Helvetica Neue LT GEO;
	font-size: 16px;
	font-weight: 400;
	color: #7E8898;
}

.scaling{
	margin-left: 20px;
	margin-top: 10px;
	width: 77px;
}

.scaling1{
	margin-left: 20px;
	margin-top: 10px;
	width: 99px;

}

.info{
	width: 100%;
	height: 500px;
}


.magari {
	width: 700px;
	height: auto;
}

.magarikaci{
	padding: 10px;
	background: #5012D5;
	color: #84FF81;
	font-family: sans-serif;
}

.kaiklasi{
	color: #8D81FF;
  font-weight: 400;
  font-size: 24px;
}

.ufrokai{
	margin-top: -20px;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #4E6FAE;
}

.besttext{
	margin-top: -300px;
	margin-left: 500px;
	font-family: FiraGO;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: #4E6FAE;
}

.gogo{
 	display: grid;
 	align-items: center; 
 	column-gap: 5px;
}
.araaaa{
 	display: grid;
 	align-items: center;
 	ali
 	column-gap: 5px;
}

.besttext1{
	font-family: FiraGO;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: #4E6FAE;
}